form {
	display: flex;
	flex-direction: column;
	width: 400px;
}

.colors {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;

	button,
	input {
		width: 36px;
		height: 36px;
		padding: 0;
		border: none;
		border-radius: 50%;
		cursor: pointer;
	}

	button {
		display: grid;
		place-items: center;
		color: white;
	}

	input {
		background: none;
	}
}
