mat-toolbar {
	align-items: flex-start;
	padding: 0;
	margin-bottom: 1rem;
}

h1 {
	font: var(--mat-sys-display-small);
	letter-spacing: var(--mat-sys-display-small-tracking);
}

.actions {
	gap: 1rem;
	display: flex;
	align-items: center;
}
